<h1>Login</h1>
<br>
<br>

<div class="form">
  <%= form_with model: @user, class: "login-form", url: sessions_login_path, method: :post do |f| %>

    <%= f.label:email %>
    <%= f.email_field :email %>  <br>

    <%= f.label:passsword %>
    <%= f.password_field :password %> <br> <br>

    <%= f.submit "Login"%>
  <% end %>
</div>
