<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="918235572948-869jlsrs708kljrahjltvdl9s9ead5so.apps.googleusercontent.com"> -->
<h1>Login</h1>

<div class="form">
  <%= form_with model: @user, class: "login-form", url: sessions_login_path, method: :post do |f| %>

    <%= f.label:email %>
    <%= f.email_field :email %>  <br>

    <%= f.label:passsword %>
    <%= f.password_field :password %> <br> <br>

    <%= f.submit "Login"%>
  <% end %>
  <br>

  <center>
  <br>
    <h4><%= link_to "Sign-Up/Log-In with Google", auth_google_oauth2_path %></h4>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  </center>

</div>
