<div class="errors-box">
    <%= object_errors(@movie) %>
</div>
<br>
<br>
<div class='page-title'>
  <h1>Edit <%= @movie.movie_title %></h1>
</div>

  <div class="form">
          <%= form_with model: @movie, class: "movies-form" do |f| %>
            <br>
            <%= f.label :movie_title, "Title" %><br>
                  <%= f.text_field :movie_title %> <br>
            <br>
            <%= f.label :genre, "Main Genre" %><br>
            <%= f.text_field :genre %> <br>
            <br>
            <%= f.label :year %><br>
            <%= f.text_field :year %>  <br>
            <br>
            <%= f.label :image_url, "Image URL" %><br>
            <%= f.text_field :image_url %> <br>
            <br>
            <%= f.submit %> <br>
          <% end %>
  </div>
