<div class='page-title'>
  <h1>movies</h1>
</div>

<div class="body-container">
  <div class="banner-form">
    <span><h3>Add a New Movie</h3></span>
      <%= render "movie_form", locals: { movie: @movie} %>
  </div>

<br>

  <div class="gallery">
    <% @movies.each do |m| %>
     <div class="bubble-card">
       <%= link_to movie_path(m) do %>
        <div class="movie-card">
          <img src='<%= m.image_url %>'>
          <span class="movie-info">
            <h2><%= m.movie_title %></h2>
            <p><%= m.genre %></p>
          </span>
        </div>
       <% end %>
     </div>
    <% end %>
  </div>
</div>
