<div class="errors-box">
    <%= object_errors(@movie) %>
</div>
<br>
<br>
<div class='page-title'>
  <h1>Add New Movie</h1>
</div>

<div class="form">
  <%= form_with model: @movie, class: "movies-form" do |f| %>
    <br>
    <%= f.label :movie_title, "Title" %>
    <%= f.text_field :movie_title %> <br>

    <%= f.label :genre, "Main Genre" %>
    <%= f.text_field :genre %> <br>

    <%= f.label :year %>
    <%= f.text_field :year %>  <br>

    <%= f.label :image_url, "Image URL" %>
    <%= f.text_field :image_url %> <br>
    <br>
    <%= f.submit "Add Movie"%> <br>
  <% end %>
</div>
