<div class='page-title'>
  <h1> <%= @movie.movie_title %> </h1>
  <h3> <%= @movie.genre %> | <%= @movie.year %> </h3>
</div>

<div class="two-column-body">
  <div class="column-2-left bubble-container">
    Events on This Movie

    <div class="gallery">
      <% @movie_events.each do |e| %>
       <div class="bubble-card">
         <%= link_to event_path(e) do %>
          <div class="movie-card">
            <span class="movie-info">
              <h3><%= e.event_title %></h3>
              <p><%= event_date(e) %> at <%= event_time(e) %><br>
                <%= e.location %></p>
            </span>
          </div>
         <% end %>
       </div>
      <% end %>
    </div>

  </div>

  <div class="column-2-right bubble-container">
    <%= form_with model: @review, url: movie_reviews_path(@movie, @review), class: "review-form" do |f| %>
      <%= f.label :review_title %>
      <%= f.text_field :review_title, size: "75" %><br>
      <%= f.label :rating %>
      <%= f.select :rating, [1, 2, 3, 4, 5] %><br>
      <%= f.text_area :description, size: "100x5" %>
      <center>
      <%= f.submit "Add My Review"%>
      </center>
    <% end %>
    <br>

    Other Reviews - Title & Rating
    Can click on it to see full review via movie_reviews_path
  </div>

</div>
