<%= registration_errors(@user).html_safe %>
<br>

<h1>Registration</h1>

<div class="form">
  <%= form_with model: @user, class: "registration-form" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    <%= f.label :username %>
    <%= f.text_field :username %> <br>

    <%= f.label :email %>
    <%= f.email_field :email %>  <br>

    <%= f.label :passsword %>
    <%= f.password_field :password %> <br>

    <%= f.label :passsword_confirmation %>
    <%= f.password_field :passsword_confirmation %> <br> <br>

    <%= f.submit "Sign Up"%>
  <% end %>
</div>
