<div class="errors-box">
  <%= object_errors(@user) %>
</div>
<br>

<h1>Registration</h1>

<div class="form">
  <%= form_with model: @user, class: "registration-form" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    <%= f.label :username %>
    <%= f.text_field :username %> <br>

    <%= f.label :email %>
    <%= f.email_field :email %>  <br>

    <%= f.label :password %>
    <%= f.password_field :password %> <br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %> <br> <br>

    <%= f.submit "Sign Up"%>
  <% end %>

  <center>
  <br>
    <h4><%= link_to "Sign-Up/Log-In with Google", auth_google_oauth2_path %></h4>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  </center>
</div>
