<div class='page-title'>
  <h1><%= @event.event_title %></h1>
  <h3>Hosted by: <%= event_host(@event) %></h3>
  <p><%= event_date(@event) %> at <%= event_time(@event) %><br>
    <%= @event.location %></p>
</div>

<div class="two-column-body">
  <div class="column-2-left bubble-container">
      <h3>Attendees</h3>
      <% if @event.attendees.size < 1 %>
        <h4> No Attendees Yet </h4>
      <% else %>
        <% @event.attendees.each do |guest| %>
          <li><%= guest.name %></li>
        <% end %>
      <% end %>
      <br>

    <% if @rsvp == false %>
      <%= form_with model: @attendees_event, url: attendees_event_index_path do |f| %>
        <%= f.hidden_field status: true %>
        <%= f.submit "Attend" %>
      <% end %>
    <% else %>
      <%= form_with model: @attendees_event do |f| %>
        <%= f.hidden_field status: false %>
        <%= f.submit "Not Attending" %>
      <% end %>
    <% end %>
  </div>

  <div class="column-2-right bubble-container">

    <% @comments.each do |comment| %>
      <p><%= comment.note %><br>
      by <%= comment.user.username %> on <%= comment.created_at %></p>
    <% end %>

    <br><br>

    <% if @rsvp == true %>
      <%= form_with model: @comment, url: event_comments_path(@event), class: "comments-form" do |f| %>
        <center><%= f.text_area :note, size: "100x5" %>

        <%= f.submit "Add Comment"%>
        <br>
        </center>
      <% end %>
    <% end %>
  </div>

</div>
