<%= object_errors(@review) %>
<br>
<div class='page-title'>
  <h1>Add New Movie Review</h1>
</div>

<div class="form">
  <%= form_with model: @review, url: movie_reviews_path(@movie), class: "review-form" do |f| %>
    <%= f.label :review_title %>
    <%= f.text_field :review_title, size: "75" %><br>
    <%= f.label :rating %>
    <%= f.select :rating, [1, 2, 3, 4, 5] %><br>
    <%= f.text_area :description, size: "100x5" %>
    <center>
    <%= f.submit "Add My Review"%>
    </center>
  <% end %>
</div>
