<div class='page-title'>
  <br>
  <%= movie_rating_stars(@review.rating) %>
  <br>
  <h1> <%= @review.review_title %> </h1>
  <h3> <%= @review.movie.movie_title %> Review by <%= @review.user.username %> </h3>
</div>

<center>
<div class="bubble-card">
  <%= @review.description %>
</div>
</center>
