<div class='page-title'>
  <br>
  <%= movie_rating_stars(@review.rating) %>
  <br>
  <h1> <%= @review.review_title %> </h1>
  <h3> <%= @review.movie.movie_title %> Review by <%= @review.user.username %> </h3>
</div>

<%= form_with model: @review, url: movie_review_path(@review), class: "review-form" do |form| %>
  <%= render partial: "movie_review_form", locals: { f: form } %>
<% end %>
