<!DOCTYPE html>
<html>
  <head>
    <title>Picturepalace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400i,500,700&display=swap" rel="stylesheet">
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if logged_in? %>
    <nav>
      <span><%= link_to_unless_current "Home", user_path(current_user), class: "nav-link" %></span>
      <span><%= link_to_unless_current "Movies", movies_path, class: "nav-link" %></span>
      <span><%= link_to_unless_current "Events", events_path, class: "nav-link" %></span>
      <!-- <span><%= link_to "Log Out", sessions_logout_path, method: :delete %></span> -->
      <span>
        <%= form_tag sessions_logout_path, method: "delete", class: "nav-link" do %>
        <%# want to format logout as a link instead %>
          <%= submit_tag "Log Out" %>
        <% end %>
      </span>
    </nav>
  <% else %>
    <nav>
      <span><%= link_to_unless_current "Log-In", login_path, class: "nav-link" %></span>
      <span><%= link_to_unless_current "Sign-Up", signup_path, class: "nav-link" %></span>
    </nav>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
