<!DOCTYPE html>
<html>
  <head>
    <title>Picturepalace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- if logged in, show this nav bar -->
    <nav>
      <%# <%= link_to "Home", users_path(current_user), class: "nav-link" %>
      <%= link_to "Movies", movies_path, class: "nav-link" %>
      <%= link_to "Events", events_path, class: "nav-link" %>
      <%= link_to "Log-Out", sessions_logout_path, class: "nav-link" %>
    </nav>

    <!-- if not logged in, show this nav bar -->
    <nav>
      <%= link_to "Movies", movies_path, class: "nav-link" %>
      <%= link_to "Events", events_path, class: "nav-link" %>
      <%= link_to "Log-In", login_path, class: "nav-link" %>
      <%= link_to "Sign-Up", signup_path, class: "nav-link" %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
